h4,h5{
    color:#5e1f92
}
h4{
    font-weight: 600;
}
h5{
    font-weight: 500;
}
hr{
    
    width:80%;
    border-top: 3px solid #5e1f92;
}
.abc{
    background-color: #333332;
    border-radius: 100%;
    height: 4px;
    
    margin-right: 8px;
    margin-top: 11px;
    width: 4px;
}
.d{
    align-items: flex-start;
    display: flex;
    flex-direction: row;
    margin-top: 5px;
}
